<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Singer Information</title>
  </head>
  <body>
    <h1>Singer Information</h1>
    <ul>
      <li>Name: <%= singer.name %></li>
      <li>Age: <%= singer.age %></li>
      <li>Genre: <%= singer.genre %></li>
      <a href="/singers">Go Back</a>
    </ul>
  </body>
</html>
