<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actor Information</title>
  </head>
  <body>
    <h1>Actor Information</h1>
    <ul>
      <li>Name: <%= actor.name %></li>
      <li>Age: <%= actor.age %></li>
      <li>Nationality: <%= actor.nationality %></li>
      <a href="/actors">Go Back</a>
    </ul>
  </body>
</html>
